<?xml version='1.0' encoding='utf-8'?>
<widget id="cordova.google.maps" version="2.2.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CordovaGoogleMaps</name>
    <description>
      Demo project for cordova-googlemaps-plugin.
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="android-build-tool" value="gradle" />
    <preference name="phonegap-version" value="cli-7.1.0" />
    <variable name="GOOGLE_MAPS_ANDROID_API_KEY" value="(your api key)" />
    <variable name="GOOGLE_MAPS_IOS_API_KEY" value="(your api key)" />
    <plugin name="cordova-plugin-googlemaps" spec="2.6.2" />
    <engine name="android" spec="^7.0.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
