table {
  width: 100%;
  border-collapse: collapse;
}
tr {
  margin: 0.5em;
}
td:nth-child(odd) {
  background: #eeeeff;
}
table.reference td {
  word-break: break-word;
  padding-bottom: 25px;
}
td {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
  border-right: 1px dotted #aaa;
}
th {
  width: 25%;
  padding: 6px;
  text-align: left;
  vertical-align: top;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}

ul.icon {
  list-style-type: none;
  padding: 0;
}
ul.icon > li {
  color: blue;
  max-width: 150px;
  width: 45%;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid lightgray;
  border-radius: 15px;
  text-align: center;
  font-size: 15px;
  background-position: bottom left;
  background-size: cover;
  position: relative;
}
ul.icon > li > a {
  font-style: italic;
  text-decoration: none;
  font-family:monospace;
  font-weight: bolder;
  color: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  height: 100%;
  line-height: 270px;
}

li#Map {
  background-image: url(./top/map.png);
}
li#Marker {
  background-image: url(./top/marker.png);
}
li#MarkerCluster {
  background-image: url(./top/markercluster.png);
}
li#HtmlInfoWindow {
  background-image: url(./top/htmlInfoWindow.png);
}
li#Polyline {
  background-image: url(./top/polyline.png);
}
li#Polygon {
  background-image: url(./top/polygon.png);
}
li#Circle {
  background-image: url(./top/circle.png);
}
li#GroundOverlay {
  background-image: url(./top/groundoverlay.png);
}
li#TileOverlay {
  background-image: url(./top/tileoverlay.png);
}
li#KmlOverlay {
  background-image: url(./top/kmloverlay.png);
}
li#Geocoder {
  background-image: url(./top/geocoder.png);
}
li#LocationService {
  background-image: url(./top/locationService.png);
}
li#Environment {
  color: green;
  background-image: url(./top/environment.png);
}

li#poly {
  background-image: url(./top/poly.gif);
}

li#spherical {
  background-image: url(./top/spherical.gif);
}
li#encoding {
  color: white;
  background-image: url(./top/encode.png);
}
li#BaseClass {
  background-image: url(./top/baseclass.png);
}
li#BaseArrayClass {
  background-image: url(./top/baseArray.png);
}

li#StreetView {
  background-image: url(./top/streetview.png);
}
